
services:
  pipeline:
    container_name: pipeline
    image: pipeline:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ../generated_outputs:/workspace/generated_outputs
    ports:
      - "10006:10006"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility